.logo-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #1D2731;
  z-index: 1000;
  background: linear-gradient(to right, #1D2731 50%, transparent 50%) left;
  background-size: 200% 101%;
  transition: 1000ms ease-in-out;
  /* flex-direction: column; */
}

.logo {
  padding-left: 5%;
  color: #D9B310;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  transition: 1000ms ease-in-out;
}

.logo span {
  transition: 1000ms ease-in-out;
}

.header1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 2px 2px #083C5D, 4px 4px #328CC1;
  margin-left: 10px;
}

.centerhamburger {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: linear-gradient(to right, transparent 50%, #DFDFDF 50%) right;
  background-size: 200% 101%;
  /* background-color: #DFDFDF; */
  z-index: 1000;
  transition: 1000ms ease-in-out;
  }

.hamburger-container {
  width: 60px;
  height: 45px;
  position: fixed;
  transition: 500ms ease-in-out;
  cursor: pointer;
  padding-right: 5%;
}

.hamburger-container span {
  display: block;
  position: absolute;
  height: 9px;
  width: 45%;
  background-color: #D9B310;
  border-radius: 9px;
  transition: 250ms ease-in-out;
  left: 0;
}

.hamburger-container span:nth-child(1) {
  top: 0px;
}

.hamburger-container span:nth-child(2), .hamburger-container span:nth-child(3) {
  top: 18px;
}

.hamburger-container span:nth-child(4){
  top: 36px;
}

.hamburger-container.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 25%;
}

.hamburger-container.open span:nth-child(2) {
  transform: rotate(45deg);
}

.hamburger-container.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.hamburger-container.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 25%;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 10%;
}

#changetxt {
  height: 100%;
  width: 100%;
}
