/* .full-page-container {
  visibility: hidden;
  transition: none;
} */

/* .full-screen {
  position: fixed;
  animation: go-full-screen forwards 500ms ease-in-out;
  inset: var(--inset);
  border-radius: 0;
  z-index: 5000;
}

.full-screen .shape-pos {
  visibility: hidden;
}

.full-screen .leader {
  background-size: 100%;
  background-position: center;
  background-size: contain;
}

.shrink-down {
  animation: go-full-screen reverse backwards 500ms ease-in-out !important;
}

@keyframes go-full-screen {
  from {
    inset: var(--inset);
  }
  to {
    height: 100%;
    width: 100%;
    inset: 0;
  }
} */