h1, button {
  font-family: 'Ubunto', sans-serif;
  font-style: italic;
  font-weight: bold;
}

button {
  font-size: 1.5em;
  color: #083C5D;
}

h1 {
  font-size: 5em;
}

p, a, .logo, .quote {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5em;
}

p {
  font-weight: bold;
}

.full-page-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-areas: 
  "left-section right-section";
  grid-template-columns: 1fr 1fr;
}

.bgcolor1 {
  background: #1D2731;
  z-index: 2;
  /* transition: 1000ms ease-in-out; */
}

.bgcolor2 {
  /* background: #DFDFDF; */
  z-index: 2;
  /* transition: 1000ms ease-in-out; */
}

.left-section {
  height: 100%;
  grid-area: left-section;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.title-lp {
  align-self: center;
  color: #D9B310;
  text-shadow: 2px 2px #083C5D, 4px 4px #328CC1;
  /* width: 100%; */
}

.button {
  position: relative;
  justify-self: center;
  background-color: #D9B310;
  align-items: center;
  height: 2.5em;
  width: 8em;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  /* transition: all 150ms ease-in-out; */
  margin-top: 10%;
}

.button::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  left: 3px;
  top: 3px;
  background-color: #083C5D;
  z-index: -1;
  /* transition: all 150ms ease-in-out; */
}

.button::before {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  left: 6px;
  top: 6px;
  background-color: #328CC1;
  z-index: -1;
  /* transition: all 150ms ease-in-out; */
}

.button:hover::after, .button:active::after {
  left: 0px;
  top: 0px;
}

.button:hover::before {
  left: 3px;
  top: 3px;
}

.button:hover {
  margin-left: 3px;
  margin-top: calc(10% + 3px);
}

.button:active::before {
  left: 0px;
  top: 0px;
}

.button:active {
  margin-top: calc(10% + 6px);
  margin-left: 6px;
  box-shadow: inset 0 0 10px 4px #1d27318f;
}

.right-section {
  background: #DFDFDF;
  grid-area: right-section;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  /* transition: transform 1000ms ease-in-out; */
}

/* #right-side img {
  transition: left 1000ms linear;
} */

.headshot {
  transition: right 1000ms ease-in-out;
  position: absolute;
  bottom: 0;
  /* height: auto; */
  width: 32%;
  /* width: 500px; */
  right: 28%;
  z-index: 1000;
  /* margin-left: -9%; */
}

.quote {
  font-size: 6em;
  color: #D9B310;
  transform: rotate(180deg);
  text-shadow: -2px -2px #083C5D, -4px -4px #328CC1;
  grid-area: 1;
  /* position: absolute; */
  padding-left: 5%;
  padding-top: 35%
  /* top: 25%;
  left: 67%; */
}

.intro-text {
  grid-area: 1;
  color: #083C5D;
  font-weight: bold;
  text-align: start;
  font-size: 1.3em;
  align-self: flex-end;
  padding-right: 15%;
  padding-bottom: 10%;
  /* padding: 30% 11% 0 42%; */
}

.blue {
  margin-left: 30%;
  background-color: #083C5D;
  color: #D9B310;
}

.blue:hover {
  margin-left: calc(30% + 3px);
}

.blue::after {
  background-color: #328CC1;
}

.blue::before {
  background-color: #D9B310;
}

.blue:active {
  margin-left: calc(30% + 6px);
  box-shadow: inset 0 0 10px 4px #dfdfdf8c;
}

.quote2 {
  grid-area: right-section;
  grid-area: 1;
  align-self: flex-end;
  justify-self: flex-end;
  width: 65%;
  padding-right: 5%;
}

@media only screen and (max-width: 1260px) {
  h1{
    font-size: 4em;
  }

  .quote2 {
    align-self: flex-start;
    justify-self: flex-start;
    padding: 10%;
    padding-top: 15%;
    width: 70%;
  }

  .headshot {
    height: 60%;
    width: auto;
  }
}

@media only screen and (max-width: 1020px) {
  h1{
    font-size: 3.5em;
  }

  .quote2 {
    padding-top: 20%;
    width: 80%;
  }
}